---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
{% assign author = site.data.authors[page.author] %}

<!-- Output author details if some exist. -->
{% if author %}
    <span>
        <!-- Personal Info. -->
        Written by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
    </span>
{% endif %}
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="disclain">
    The Opinions Expressed In This Post Are My Own And Not Necessarily Those Of My Employer.
  </div>
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>
  {% include disqus.html %}
</article>
